@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos más específicos para placeholders */
input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #4B5563 !important; /* Un gris más oscuro */
  opacity: 1 !important;
}

/* Para Safari/Chrome */
::-webkit-input-placeholder {
  color: #4B5563 !important;
  opacity: 1 !important;
}

/* Para Firefox */
::-moz-placeholder {
  color: #4B5563 !important;
  opacity: 1 !important;
}

/* Para Internet Explorer */
:-ms-input-placeholder {
  color: #4B5563 !important;
  opacity: 1 !important;
}

/* Para Edge */
::-ms-input-placeholder {
  color: #4B5563 !important;
  opacity: 1 !important;
}